@charset "UTF-8";
/* CSS Document */

body {
	 font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	background-image: url("images/desert.png");
	background-size: 2000px;
	background-repeat: round;
	color: black;
	text-align: center;
}


button {
	cursor:pointer;
	background-color:transparent;
	border-style: none;
}

/*screen changes*/
@media screen and (max-width: 980px) {
		#wrapper  {
			width: 94%;
		}
		#content  {
			width:65%
		}
		#sidebar  {
			width: 30%
		}
	}
	@media screen and (max-width: 700px) {
		#content, #sidebar {
			width: auto;
			float: none;
		}
		#header {
			height: auto;
		}
	}
	@media screen and (max-width: 480px) {
		#header {
			height: 24px;
		}
		h1 {
				fon-size: 24px;
		}
		#sidebar {
				float: none;
		}
	}	
	