@charset "UTF-8";
/* CSS Document */

body {
	background-image: url("images/desert.png");
	background-size: 2000px;
	background-repeat: round;
	color: white;
}


button {
	cursor:pointer;
	background-color:transparent;
	border-style: none;
}